.imageList {
  display: flex;
  position: relative;
  max-width: 200px;
  flex-wrap: wrap;
  &_item {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
textarea {
  &:focus {
    outline: 2px solid dodgerblue;
  }
}
