.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 10px;
  width: 250px;
  border-radius: 30px;
  padding: 5px;
  margin:  0 0 10px 5px;
  &:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: #94caf6;
  }
}

